<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="SchoolDBConnectionString"
    connectionString="Data Source=VN-HOTRAN\MSSQLSERVER_1;User Id=sa;Password=netpower@123;Database=Demo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
